.container {
    /* display: grid; */
    /* grid-template-columns: 50px 100px 50px; */
    /* grid-template-columns: repeat(4, 1fr);
    gap: 40px; */
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 200px; */
    width: 400px;
    height: 200px;
    background-color: lightcoral;
    position: relative;

}

#box {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top : 20px; /*element should move 50px from top */
    right : 30px;
}
.chat {
    padding: 15px 20px;
    position: sticky;
    top:0;
}